- provide(:title, t('.title'))

.timeline
  .container
    .row
      .col-lg-12
        .timeline-container
          .timeline-end
            %p 
              提交申请
          .timeline-continue
            .row.timeline-right
              .col-md-6
                %p.timeline-date
                  客服受理
              .col-md-6
                .timeline-box
                  .timeline-icon
                    %i.fa.fa-gift
                  .timeline-text
                    %h3 客服已接受申请，正在处理中 
            -if @state > 1 
              .row.timeline-left
                .col-md-6.d-md-none.d-block
                  %p.timeline-date
                    现场勘探
                .col-md-6
                  .timeline-box
                    .timeline-icon.d-md-none.d-block
                      %i.fa.fa-business-time
                    .timeline-text
                      %h3 
                        工程部门实地勘察
                    .timeline-icon.d-md-block.d-none
                      %i.fa.fa-business-time
                .col-md-6.d-md-block.d-none
                  %p.timeline-date
                    现场勘探
              -#
                .row
                  .col-12
                    .timeline-year
                      %p 2020
            -if @state > 2 
              .row.timeline-right
                .col-md-6
                  %p.timeline-date
                    分管经理审批
                .col-md-6
                  .timeline-box
                    .timeline-icon
                      %i.fa.fa-briefcase
                    .timeline-text
                      %h3 
                        已报分管经理，正在审批当中
            -if @state > 3 
              .row.timeline-left
                .col-md-6.d-md-none.d-block
                  %p.timeline-date
                    报装缴费
                .col-md-6
                  .timeline-box
                    .timeline-icon.d-md-none.d-block
                      %i.fa.fa-cogs
                    .timeline-text
                      %h3
                        审批已通过，通知客户缴费
                    .timeline-icon.d-md-block.d-none
                      %i.fa.fa-cogs
                .col-md-6.d-md-block.d-none
                  %p.timeline-date
                    报装缴费
            -if @state > 4 
              .row.timeline-right
                .col-md-6
                  %p.timeline-date
                    工程施工
                .col-md-6
                  .timeline-box
                    .timeline-icon
                      %i.fa.fa-running
                    .timeline-text
                      %h3 
                        客户已缴费，工程部门施工
            -if @state > 5 
              .row.timeline-left
                .col-md-6.d-md-none.d-block
                  %p.timeline-date
                    客户回访
                .col-md-6
                  .timeline-box
                    .timeline-icon.d-md-none.d-block
                      %i.fa.fa-home
                    .timeline-text
                      %h3 
                        客户满意度、工程施工质量回访
                    .timeline-icon.d-md-block.d-none
                      %i.fa.fa-home
                .col-md-6.d-md-block.d-none
                  %p.timeline-date
                    客户回访
          -if @state > 6 
            .timeline-start
              %p
                已办结
            .timeline-launch
              .timeline-box
                .timeline-text
                  %h3
                    当前报装申请已办理完毕
